<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
</head>
<body>
  <header class="site-header">
    <nav class="nav">
      <a class="brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>
      <div class="links">
        <a href="{{ '/' | relative_url }}" {% if page.url == '/' %}aria-current="page"{% endif %}>Projects</a>
        <a href="{{ '/resume/' | relative_url }}" {% if page.url contains '/resume' %}aria-current="page"{% endif %}>Resume</a>
        <a href="{{ '/skills/' | relative_url }}" {% if page.url contains '/skills' %}aria-current="page"{% endif %}>Skills & Certifications</a>
      </div>
    </nav>
  </header>

  <main class="container">
    {{ content }}
  </main>

 <footer class="site-footer">
  <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }} | 
     📞 (438) 941 7228 | 
     📧 <a href="mailto:kangt805@gmail.com">kangt805@gmail.com</a> | 
     💼 <a href="https://www.linkedin.com/in/kangtianecon" target="_blank">LinkedIn</a> | 
     💻 <a href="https://github.com/kang-tian" target="_blank">GitHub</a>
  </p>
</footer>
  
</body>
</html>
